.whole-card{
    background-color: rgb(249, 255, 253);
    padding: 5px;
    border-radius: 1px;
    margin-bottom: 20px;
   }
  

#criteria_desig_list li{
    padding-top:0rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 0rem;
    
}
#trainer_list_selected li{
    padding-top:0rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 0rem;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}
/* #message_applicant div input{
	font-size: small;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}
#message_applicant div textarea{
	font-size: small;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}
#message_applicant div {
	font-size: small;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
} */
.notification{
	height: 60px;
}
#replyAccordion div{
	font-size: small;
	
}
#sendMsgAccordion div{
	font-size: small;
	
}
#accordian div{
	font-size: small;
	
}
#accordian_select_objection div{
    font-size: small;
}