.whole-card{
    background-color: rgb(249, 255, 253);
    padding: 5px;
    border-radius: 1px;
    margin-bottom: 20px;
   }
  
.card-header{
	background: rgb(161, 221, 231) ;
	
}
#criteria_desig_list li{
    padding-top:0rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 0rem;
    
}
#trainer_list_selected li{
    padding-top:0rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 0rem;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}